<p>Your issue is here! Please update or solve the issue.</p>

<ul>
<% @issue_field_values_by_labels.each do |label, value| %>
  <li><%= label %>: <%= value %></li>
<% end %>
</ul>

<p>Thank you for your report.</p>
