<% if @header.present? %>
<p><%= @header %></p>
<% end %>

<ul>
<% @issue_field_values_by_labels.each do |label, value| %>
  <li><%= label %>: <%= value %></li>
<% end %>
</ul>

<% if @footer.present? %>
<hr />
<p><%= @footer %></p>
<% end %>
